<section class="glitchclock" style="@import url('../../public/css/glitchclock.css');">

    <a class="switcher" href="#"></a>
    <div class="screen glitch">
        <div class="clock is-off"><span class="time" data-time=""></span></div>
        <div class="figure"></div>
        <div class="figure-mask"></div>
    </div>

</section>