
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");

*,
*:before,
*:after {
margin: 0;
padding: 0;
border: 0;
outline: 0;
box-sizing: border-box;
-webkit-touch-callout: none;
-webkit-user-select: none;
 -khtml-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}
html,
body {
height: 100%;
}
body {
font-weight: 700;
background: #111;
color: #fff;
background-size: cover;
-webkit-animation: bgchange 300s linear infinite;
   -moz-animation: bgchange 300s linear infinite;
     -o-animation: bgchange 300s linear infinite;
       -animation: bgchange 300s linear infinite;
       transition: background-image 5s;
}
@-webkit-keyframes bgchange {
  0%       { background-image: url("./media/bg10.png"); background-size: cover; }
  9.99%    { background-image: url("./media/bg10.png"); background-size: cover; }
  10%      { background-image: url("./media/bg9.jpg"); background-size: cover; }
  19.99%   { background-image: url("./media/bg9.jpg"); background-size: cover; }
  20%      { background-image: url("./media/bg8.jpg"); background-size: cover; }
  29.99%   { background-image: url("./media/bg8.jpg"); background-size: cover; }
  30%      { background-image: url("./media/bg7.jpg"); background-size: cover; }
  39.99%   { background-image: url("./media/bg7.jpg"); background-size: cover; }
  40%      { background-image: url("./media/bg6.jpg"); background-size: cover; }
  49.99%   { background-image: url("./media/bg6.jpg"); background-size: cover; }
  50%      { background-image: url("./media/bg5.jpg"); background-size: cover; }
  59.99%   { background-image: url("./media/bg5.jpg"); background-size: cover; }
  60%      { background-image: url("./media/bg4.jpg"); background-size: cover; }
  69.99%   { background-image: url("./media/bg4.jpg"); background-size: cover; }
  70%      { background-image: url("./media/bg3.jpg"); background-size: cover; }
  79.99%   { background-image: url("./media/bg3.jpg"); background-size: cover; }
  80%      { background-image: url("./media/bg2.jpg"); background-size: cover; }
  89.99%   { background-image: url("./media/bg2.jpg"); background-size: cover; }
  90%      { background-image: url("./media/bg1.jpg"); background-size: cover; }
  99.99%   { background-image: url("./media/bg1.jpg"); background-size: cover; }
  100%     { background-image: url("./media/bg10.png"); background-size: cover; }
}
  @-o-keyframes bgchange {
  0%       { background-image: url("./media/bg10.png"); background-size: cover; }
  9.99%    { background-image: url("./media/bg10.png"); background-size: cover; }
  10%      { background-image: url("./media/bg9.jpg"); background-size: cover; }
  19.99%   { background-image: url("./media/bg9.jpg"); background-size: cover; }
  20%      { background-image: url("./media/bg8.jpg"); background-size: cover; }
  29.99%   { background-image: url("./media/bg8.jpg"); background-size: cover; }
  30%      { background-image: url("./media/bg7.jpg"); background-size: cover; }
  39.99%   { background-image: url("./media/bg7.jpg"); background-size: cover; }
  40%      { background-image: url("./media/bg6.jpg"); background-size: cover; }
  49.99%   { background-image: url("./media/bg6.jpg"); background-size: cover; }
  50%      { background-image: url("./media/bg5.jpg"); background-size: cover; }
  59.99%   { background-image: url("./media/bg5.jpg"); background-size: cover; }
  60%      { background-image: url("./media/bg4.jpg"); background-size: cover; }
  69.99%   { background-image: url("./media/bg4.jpg"); background-size: cover; }
  70%      { background-image: url("./media/bg3.jpg"); background-size: cover; }
  79.99%   { background-image: url("./media/bg3.jpg"); background-size: cover; }
  80%      { background-image: url("./media/bg2.jpg"); background-size: cover; }
  89.99%   { background-image: url("./media/bg2.jpg"); background-size: cover; }
  90%      { background-image: url("./media/bg1.jpg"); background-size: cover; }
  99.99%   { background-image: url("./media/bg1.jpg"); background-size: cover; }
  100%     { background-image: url("./media/bg10.png"); background-size: cover; }
}
  @-moz-keyframes bgchange {
  0%       { background-image: url("./media/bg10.png"); background-size: cover; }
  9.99%    { background-image: url("./media/bg10.png"); background-size: cover; }
  10%      { background-image: url("./media/bg9.jpg"); background-size: cover; }
  19.99%   { background-image: url("./media/bg9.jpg"); background-size: cover; }
  20%      { background-image: url("./media/bg8.jpg"); background-size: cover; }
  29.99%   { background-image: url("./media/bg8.jpg"); background-size: cover; }
  30%      { background-image: url("./media/bg7.jpg"); background-size: cover; }
  39.99%   { background-image: url("./media/bg7.jpg"); background-size: cover; }
  40%      { background-image: url("./media/bg6.jpg"); background-size: cover; }
  49.99%   { background-image: url("./media/bg6.jpg"); background-size: cover; }
  50%      { background-image: url("./media/bg5.jpg"); background-size: cover; }
  59.99%   { background-image: url("./media/bg5.jpg"); background-size: cover; }
  60%      { background-image: url("./media/bg4.jpg"); background-size: cover; }
  69.99%   { background-image: url("./media/bg4.jpg"); background-size: cover; }
  70%      { background-image: url("./media/bg3.jpg"); background-size: cover; }
  79.99%   { background-image: url("./media/bg3.jpg"); background-size: cover; }
  80%      { background-image: url("./media/bg2.jpg"); background-size: cover; }
  89.99%   { background-image: url("./media/bg2.jpg"); background-size: cover; }
  90%      { background-image: url("./media/bg1.jpg"); background-size: cover; }
  99.99%   { background-image: url("./media/bg1.jpg"); background-size: cover; }
  100%     { background-image: url("./media/bg10.png"); background-size: cover; }
}
  @keyframes bgchange {
  0%       { background-image: url("./media/bg10.png"); background-size: cover; }
  9.99%    { background-image: url("./media/bg10.png"); background-size: cover; }
  10%      { background-image: url("./media/bg9.jpg"); background-size: cover; }
  19.99%   { background-image: url("./media/bg9.jpg"); background-size: cover; }
  20%      { background-image: url("./media/bg8.jpg"); background-size: cover; }
  29.99%   { background-image: url("./media/bg8.jpg"); background-size: cover; }
  30%      { background-image: url("./media/bg7.jpg"); background-size: cover; }
  39.99%   { background-image: url("./media/bg7.jpg"); background-size: cover; }
  40%      { background-image: url("./media/bg6.jpg"); background-size: cover; }
  49.99%   { background-image: url("./media/bg6.jpg"); background-size: cover; }
  50%      { background-image: url("./media/bg5.jpg"); background-size: cover; }
  59.99%   { background-image: url("./media/bg5.jpg"); background-size: cover; }
  60%      { background-image: url("./media/bg4.jpg"); background-size: cover; }
  69.99%   { background-image: url("./media/bg4.jpg"); background-size: cover; }
  70%      { background-image: url("./media/bg3.jpg"); background-size: cover; }
  79.99%   { background-image: url("./media/bg3.jpg"); background-size: cover; }
  80%      { background-image: url("./media/bg2.jpg"); background-size: cover; }
  89.99%   { background-image: url("./media/bg2.jpg"); background-size: cover; }
  90%      { background-image: url("./media/bg1.jpg"); background-size: cover; }
  99.99%   { background-image: url("./media/bg1.jpg"); background-size: cover; }
  100%     { background-image: url("./media/bg10.png"); background-size: cover; }
}

/*****CLOCK*****/

.screen {
position: relative;
z-index: 1;
width: 100%;
height: 100%;
overflow: hidden;
}
.figure {
display: block;
position: absolute;
z-index: 1;
width: 0;
height: 0;
top: 35px;
right: 0;
bottom: 0;
left: 0;
margin: auto;
border-top: 200px solid red;
border-right: 100px solid transparent;
border-left: 100px solid transparent;
border-bottom: 0 solid transparent;
}
.figure:before {
display: block;
content: '';
position: absolute;
z-index: 99;
width: 0;
height: 0;
top: -194px;
left: -90px;
margin: auto;
border-top: 180px solid #111;
border-right: 90px solid transparent;
border-left: 90px solid transparent;
border-bottom: 0 solid transparent;
}
.figure-mask {
display: block;
position: absolute;
z-index: 99;
width: 0;
height: 0;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
border-top: 200px solid transparent;
border-right: 100px solid transparent;
border-left: 100px solid transparent;
border-bottom: 0 solid transparent;
}
.clock {
display: block;
position: absolute;
z-index: 9;
width: 720px;
height: 128px;
text-align: center;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
cursor: default;
}
.clock span {
display: block;
position: relative;
font-size: 128px;
line-height: 1;
}
.clock.is-off {
-webkit-animation: is-off 2s linear infinite !important;
        animation: is-off 2s linear infinite !important;
}
.glitch:before {
position: absolute;
z-index: 999999;
content: '';
top: 0;
right: 0;
bottom: 0;
left: 0;
-webkit-animation: bg-move 2s linear infinite;
        animation: bg-move 2s linear infinite;
background-size: 100% 8px;
background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(10%, rgba(255,255,255,0.05)), color-stop(10%, transparent), color-stop(50%, transparent), color-stop(50%, rgba(255,255,255,0.05)), color-stop(60%, rgba(255,255,255,0.05)), color-stop(60%, transparent), to(transparent));
background-image: linear-gradient(0, rgba(255,255,255,0.05) 10%, transparent 10%, transparent 50%, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0.05) 60%, transparent 60%, transparent);
}
.glitch .figure,
.glitch .figure-mask {
-webkit-transform: skewX(0deg) scaleY(1);
        transform: skewX(0deg) scaleY(1);
-webkit-animation: tr-bag 4s linear infinite;
        animation: tr-bag 4s linear infinite;
}
.glitch .clock {
-webkit-transform: skewX(0deg) scaleY(1);
        transform: skewX(0deg) scaleY(1);
-webkit-animation: clock-bag 4s linear infinite;
        animation: clock-bag 4s linear infinite;
}
.glitch .clock span:before,
.glitch .clock span:after {
display: block;
content: attr(data-time);
position: absolute;
top: 0;
color: #fff;
background: transparent;
overflow: hidden;
width: 720px;
height: 128px;
clip: rect(0, 900px, 0, 0);
}
.glitch .clock span:before {
left: -2px;
text-shadow: 2px 0 #00f;
animation: c2 1s infinite linear alternate-reverse;
}
.glitch .clock span:after {
left: 3px;
text-shadow: -2px 0 #f00;
animation: c1 2s infinite linear alternate-reverse;
}
@-webkit-keyframes is-off {
0% {
  opacity: 1;
}
50% {
  opacity: 1;
}
56% {
  opacity: 0;
}
57% {
  opacity: 0;
}
58% {
  opacity: 1;
}
71% {
  -webkit-transform: scaleY(1) skewX(0deg);
          transform: scaleY(1) skewX(0deg);
}
72% {
  -webkit-transform: scaleY(3) skewX(-60deg);
          transform: scaleY(3) skewX(-60deg);
}
73% {
  -webkit-transform: scaleY(1) skewX(0deg);
          transform: scaleY(1) skewX(0deg);
}
80% {
  opacity: 1;
}
81% {
  opacity: 0;
}
84% {
  opacity: 0;
}
85% {
  opacity: 1;
}
91% {
  -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
          transform: scaleX(1) scaleY(1) skewX(0deg);
  color: #fff;
}
92% {
  -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
          transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  color: #008000;
}
93% {
  -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
          transform: scaleX(1) scaleY(1) skewX(0deg);
  color: #fff;
}
}
@keyframes is-off {
0% {
  opacity: 1;
}
50% {
  opacity: 1;
}
56% {
  opacity: 0;
}
57% {
  opacity: 0;
}
58% {
  opacity: 1;
}
71% {
  -webkit-transform: scaleY(1) skewX(0deg);
          transform: scaleY(1) skewX(0deg);
}
72% {
  -webkit-transform: scaleY(3) skewX(-60deg);
          transform: scaleY(3) skewX(-60deg);
}
73% {
  -webkit-transform: scaleY(1) skewX(0deg);
          transform: scaleY(1) skewX(0deg);
}
80% {
  opacity: 1;
}
81% {
  opacity: 0;
}
84% {
  opacity: 0;
}
85% {
  opacity: 1;
}
91% {
  -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
          transform: scaleX(1) scaleY(1) skewX(0deg);
  color: #fff;
}
92% {
  -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
          transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  color: #008000;
}
93% {
  -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
          transform: scaleX(1) scaleY(1) skewX(0deg);
  color: #fff;
}
}
@-webkit-keyframes c1 {
0% {
  clip: rect(65px, 9999px, 93px, 0);
}
5% {
  clip: rect(93px, 9999px, 95px, 0);
}
10% {
  clip: rect(52px, 9999px, 95px, 0);
}
15.000000000000002% {
  clip: rect(86px, 9999px, 24px, 0);
}
20% {
  clip: rect(29px, 9999px, 8px, 0);
}
25% {
  clip: rect(48px, 9999px, 14px, 0);
}
30.000000000000004% {
  clip: rect(12px, 9999px, 89px, 0);
}
35.00000000000001% {
  clip: rect(25px, 9999px, 87px, 0);
}
40% {
  clip: rect(41px, 9999px, 97px, 0);
}
45% {
  clip: rect(84px, 9999px, 71px, 0);
}
50% {
  clip: rect(23px, 9999px, 98px, 0);
}
55% {
  clip: rect(67px, 9999px, 97px, 0);
}
60.00000000000001% {
  clip: rect(80px, 9999px, 51px, 0);
}
65% {
  clip: rect(8px, 9999px, 18px, 0);
}
70.00000000000001% {
  clip: rect(46px, 9999px, 22px, 0);
}
75% {
  clip: rect(19px, 9999px, 83px, 0);
}
80% {
  clip: rect(31px, 9999px, 25px, 0);
}
85% {
  clip: rect(6px, 9999px, 73px, 0);
}
90% {
  clip: rect(73px, 9999px, 14px, 0);
}
95% {
  clip: rect(66px, 9999px, 8px, 0);
}
100% {
  clip: rect(5px, 9999px, 56px, 0);
}
}
@keyframes c1 {
0% {
  clip: rect(65px, 9999px, 93px, 0);
}
5% {
  clip: rect(93px, 9999px, 95px, 0);
}
10% {
  clip: rect(52px, 9999px, 95px, 0);
}
15.000000000000002% {
  clip: rect(86px, 9999px, 24px, 0);
}
20% {
  clip: rect(29px, 9999px, 8px, 0);
}
25% {
  clip: rect(48px, 9999px, 14px, 0);
}
30.000000000000004% {
  clip: rect(12px, 9999px, 89px, 0);
}
35.00000000000001% {
  clip: rect(25px, 9999px, 87px, 0);
}
40% {
  clip: rect(41px, 9999px, 97px, 0);
}
45% {
  clip: rect(84px, 9999px, 71px, 0);
}
50% {
  clip: rect(23px, 9999px, 98px, 0);
}
55% {
  clip: rect(67px, 9999px, 97px, 0);
}
60.00000000000001% {
  clip: rect(80px, 9999px, 51px, 0);
}
65% {
  clip: rect(8px, 9999px, 18px, 0);
}
70.00000000000001% {
  clip: rect(46px, 9999px, 22px, 0);
}
75% {
  clip: rect(19px, 9999px, 83px, 0);
}
80% {
  clip: rect(31px, 9999px, 25px, 0);
}
85% {
  clip: rect(6px, 9999px, 73px, 0);
}
90% {
  clip: rect(73px, 9999px, 14px, 0);
}
95% {
  clip: rect(66px, 9999px, 8px, 0);
}
100% {
  clip: rect(5px, 9999px, 56px, 0);
}
}
@-webkit-keyframes c2 {
0% {
  clip: rect(85px, 9999px, 42px, 0);
}
5% {
  clip: rect(72px, 9999px, 63px, 0);
}
10% {
  clip: rect(91px, 9999px, 89px, 0);
}
15.000000000000002% {
  clip: rect(87px, 9999px, 43px, 0);
}
20% {
  clip: rect(65px, 9999px, 88px, 0);
}
25% {
  clip: rect(64px, 9999px, 100px, 0);
}
30.000000000000004% {
  clip: rect(37px, 9999px, 41px, 0);
}
35.00000000000001% {
  clip: rect(42px, 9999px, 65px, 0);
}
40% {
  clip: rect(48px, 9999px, 35px, 0);
}
45% {
  clip: rect(94px, 9999px, 79px, 0);
}
50% {
  clip: rect(43px, 9999px, 40px, 0);
}
55% {
  clip: rect(34px, 9999px, 70px, 0);
}
60.00000000000001% {
  clip: rect(65px, 9999px, 77px, 0);
}
65% {
  clip: rect(24px, 9999px, 67px, 0);
}
70.00000000000001% {
  clip: rect(95px, 9999px, 57px, 0);
}
75% {
  clip: rect(98px, 9999px, 80px, 0);
}
80% {
  clip: rect(49px, 9999px, 4px, 0);
}
85% {
  clip: rect(36px, 9999px, 83px, 0);
}
90% {
  clip: rect(49px, 9999px, 5px, 0);
}
95% {
  clip: rect(38px, 9999px, 66px, 0);
}
100% {
  clip: rect(53px, 9999px, 51px, 0);
}
23% {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
}
}
@keyframes c2 {
0% {
  clip: rect(85px, 9999px, 42px, 0);
}
5% {
  clip: rect(72px, 9999px, 63px, 0);
}
10% {
  clip: rect(91px, 9999px, 89px, 0);
}
15.000000000000002% {
  clip: rect(87px, 9999px, 43px, 0);
}
20% {
  clip: rect(65px, 9999px, 88px, 0);
}
25% {
  clip: rect(64px, 9999px, 100px, 0);
}
30.000000000000004% {
  clip: rect(37px, 9999px, 41px, 0);
}
35.00000000000001% {
  clip: rect(42px, 9999px, 65px, 0);
}
40% {
  clip: rect(48px, 9999px, 35px, 0);
}
45% {
  clip: rect(94px, 9999px, 79px, 0);
}
50% {
  clip: rect(43px, 9999px, 40px, 0);
}
55% {
  clip: rect(34px, 9999px, 70px, 0);
}
60.00000000000001% {
  clip: rect(65px, 9999px, 77px, 0);
}
65% {
  clip: rect(24px, 9999px, 67px, 0);
}
70.00000000000001% {
  clip: rect(95px, 9999px, 57px, 0);
}
75% {
  clip: rect(98px, 9999px, 80px, 0);
}
80% {
  clip: rect(49px, 9999px, 4px, 0);
}
85% {
  clip: rect(36px, 9999px, 83px, 0);
}
90% {
  clip: rect(49px, 9999px, 5px, 0);
}
95% {
  clip: rect(38px, 9999px, 66px, 0);
}
100% {
  clip: rect(53px, 9999px, 51px, 0);
}
23% {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
}
}
@-webkit-keyframes clock-bag {
0% {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}
2% {
  -webkit-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
}
4% {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}
6% {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}
8% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
10% {
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
}
12% {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}
14.000000000000002% {
  -webkit-transform: translate(3px, 2px);
          transform: translate(3px, 2px);
}
16% {
  -webkit-transform: translate(5px, 3px);
          transform: translate(5px, 3px);
}
18% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
20% {
  -webkit-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
}
22% {
  -webkit-transform: translate(4px, 5px);
          transform: translate(4px, 5px);
}
24% {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}
26% {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}
28.000000000000004% {
  -webkit-transform: translate(2px, 1px);
          transform: translate(2px, 1px);
}
30% {
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}
32% {
  -webkit-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
}
34% {
  -webkit-transform: translate(3px, 1px);
          transform: translate(3px, 1px);
}
36% {
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
}
38% {
  -webkit-transform: translate(5px, 3px);
          transform: translate(5px, 3px);
}
40% {
  -webkit-transform: translate(4px, 2px);
          transform: translate(4px, 2px);
}
42% {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}
44% {
  -webkit-transform: translate(2px, 5px);
          transform: translate(2px, 5px);
}
46.00000000000001% {
  -webkit-transform: translate(1px, 5px);
          transform: translate(1px, 5px);
}
48% {
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}
50% {
  -webkit-transform: translate(3px, 5px);
          transform: translate(3px, 5px);
}
52% {
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}
54% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
56.00000000000001% {
  -webkit-transform: translate(2px, 1px);
          transform: translate(2px, 1px);
}
58% {
  -webkit-transform: translate(2px, 1px);
          transform: translate(2px, 1px);
}
60% {
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}
62% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
64% {
  -webkit-transform: translate(5px, 2px);
          transform: translate(5px, 2px);
}
66% {
  -webkit-transform: translate(1px, 5px);
          transform: translate(1px, 5px);
}
68% {
  -webkit-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
}
70.00000000000001% {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}
72% {
  -webkit-transform: translate(5px, 3px);
          transform: translate(5px, 3px);
}
74% {
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}
76% {
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}
78% {
  -webkit-transform: translate(3px, 5px);
          transform: translate(3px, 5px);
}
80% {
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}
82.00000000000001% {
  -webkit-transform: translate(4px, 2px);
          transform: translate(4px, 2px);
}
84% {
  -webkit-transform: translate(3px, 5px);
          transform: translate(3px, 5px);
}
86% {
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}
88% {
  -webkit-transform: translate(4px, 2px);
          transform: translate(4px, 2px);
}
90% {
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}
92.00000000000001% {
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}
94% {
  -webkit-transform: translate(5px, 3px);
          transform: translate(5px, 3px);
}
96% {
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}
98% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
100% {
  -webkit-transform: translate(3px, 2px);
          transform: translate(3px, 2px);
}
1% {
  -webkit-transform: scaleY(1) skewX(0deg);
          transform: scaleY(1) skewX(0deg);
}
1.5% {
  -webkit-transform: scaleY(3) skewX(-60deg);
          transform: scaleY(3) skewX(-60deg);
}
2% {
  -webkit-transform: scaleY(1) skewX(0deg);
          transform: scaleY(1) skewX(0deg);
}
51% {
  -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
          transform: scaleX(1) scaleY(1) skewX(0deg);
}
52% {
  -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
          transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
}
53% {
  -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
          transform: scaleX(1) scaleY(1) skewX(0deg);
}
}
@keyframes clock-bag {
0% {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}
2% {
  -webkit-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
}
4% {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}
6% {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}
8% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
10% {
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
}
12% {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}
14.000000000000002% {
  -webkit-transform: translate(3px, 2px);
          transform: translate(3px, 2px);
}
16% {
  -webkit-transform: translate(5px, 3px);
          transform: translate(5px, 3px);
}
18% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
20% {
  -webkit-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
}
22% {
  -webkit-transform: translate(4px, 5px);
          transform: translate(4px, 5px);
}
24% {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}
26% {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}
28.000000000000004% {
  -webkit-transform: translate(2px, 1px);
          transform: translate(2px, 1px);
}
30% {
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}
32% {
  -webkit-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
}
34% {
  -webkit-transform: translate(3px, 1px);
          transform: translate(3px, 1px);
}
36% {
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
}
38% {
  -webkit-transform: translate(5px, 3px);
          transform: translate(5px, 3px);
}
40% {
  -webkit-transform: translate(4px, 2px);
          transform: translate(4px, 2px);
}
42% {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}
44% {
  -webkit-transform: translate(2px, 5px);
          transform: translate(2px, 5px);
}
46.00000000000001% {
  -webkit-transform: translate(1px, 5px);
          transform: translate(1px, 5px);
}
48% {
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}
50% {
  -webkit-transform: translate(3px, 5px);
          transform: translate(3px, 5px);
}
52% {
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}
54% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
56.00000000000001% {
  -webkit-transform: translate(2px, 1px);
          transform: translate(2px, 1px);
}
58% {
  -webkit-transform: translate(2px, 1px);
          transform: translate(2px, 1px);
}
60% {
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}
62% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
64% {
  -webkit-transform: translate(5px, 2px);
          transform: translate(5px, 2px);
}
66% {
  -webkit-transform: translate(1px, 5px);
          transform: translate(1px, 5px);
}
68% {
  -webkit-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
}
70.00000000000001% {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}
72% {
  -webkit-transform: translate(5px, 3px);
          transform: translate(5px, 3px);
}
74% {
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}
76% {
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}
78% {
  -webkit-transform: translate(3px, 5px);
          transform: translate(3px, 5px);
}
80% {
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}
82.00000000000001% {
  -webkit-transform: translate(4px, 2px);
          transform: translate(4px, 2px);
}
84% {
  -webkit-transform: translate(3px, 5px);
          transform: translate(3px, 5px);
}
86% {
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}
88% {
  -webkit-transform: translate(4px, 2px);
          transform: translate(4px, 2px);
}
90% {
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}
92.00000000000001% {
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}
94% {
  -webkit-transform: translate(5px, 3px);
          transform: translate(5px, 3px);
}
96% {
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}
98% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
100% {
  -webkit-transform: translate(3px, 2px);
          transform: translate(3px, 2px);
}
1% {
  -webkit-transform: scaleY(1) skewX(0deg);
          transform: scaleY(1) skewX(0deg);
}
1.5% {
  -webkit-transform: scaleY(3) skewX(-60deg);
          transform: scaleY(3) skewX(-60deg);
}
2% {
  -webkit-transform: scaleY(1) skewX(0deg);
          transform: scaleY(1) skewX(0deg);
}
51% {
  -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
          transform: scaleX(1) scaleY(1) skewX(0deg);
}
52% {
  -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
          transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
}
53% {
  -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
          transform: scaleX(1) scaleY(1) skewX(0deg);
}
}
@-webkit-keyframes tr-bag {
0% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
2% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
4% {
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}
6% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
8% {
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
}
10% {
  -webkit-transform: translate(4px, 2px);
          transform: translate(4px, 2px);
}
12% {
  -webkit-transform: translate(3px, 1px);
          transform: translate(3px, 1px);
}
14.000000000000002% {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}
16% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
18% {
  -webkit-transform: translate(5px, 3px);
          transform: translate(5px, 3px);
}
20% {
  -webkit-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
}
22% {
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}
24% {
  -webkit-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
}
26% {
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}
28.000000000000004% {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}
30% {
  -webkit-transform: translate(1px, 5px);
          transform: translate(1px, 5px);
}
32% {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}
34% {
  -webkit-transform: translate(1px, 5px);
          transform: translate(1px, 5px);
}
36% {
  -webkit-transform: translate(1px, 5px);
          transform: translate(1px, 5px);
}
38% {
  -webkit-transform: translate(3px, 5px);
          transform: translate(3px, 5px);
}
40% {
  -webkit-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
}
42% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
44% {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}
46.00000000000001% {
  -webkit-transform: translate(3px, 2px);
          transform: translate(3px, 2px);
}
48% {
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}
50% {
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}
52% {
  -webkit-transform: translate(2px, 1px);
          transform: translate(2px, 1px);
}
54% {
  -webkit-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
}
56.00000000000001% {
  -webkit-transform: translate(5px, 2px);
          transform: translate(5px, 2px);
}
58% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
60% {
  -webkit-transform: translate(3px, 1px);
          transform: translate(3px, 1px);
}
62% {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}
64% {
  -webkit-transform: translate(4px, 2px);
          transform: translate(4px, 2px);
}
66% {
  -webkit-transform: translate(3px, 2px);
          transform: translate(3px, 2px);
}
68% {
  -webkit-transform: translate(3px, 2px);
          transform: translate(3px, 2px);
}
70.00000000000001% {
  -webkit-transform: translate(4px, 1px);
          transform: translate(4px, 1px);
}
72% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
74% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
76% {
  -webkit-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
}
78% {
  -webkit-transform: translate(3px, 2px);
          transform: translate(3px, 2px);
}
80% {
  -webkit-transform: translate(2px, 5px);
          transform: translate(2px, 5px);
}
82.00000000000001% {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}
84% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
86% {
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
}
88% {
  -webkit-transform: translate(3px, 1px);
          transform: translate(3px, 1px);
}
90% {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}
92.00000000000001% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
94% {
  -webkit-transform: translate(5px, 2px);
          transform: translate(5px, 2px);
}
96% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
98% {
  -webkit-transform: translate(3px, 5px);
          transform: translate(3px, 5px);
}
100% {
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
}
1% {
  -webkit-transform: scaleY(1) skewX(0deg);
          transform: scaleY(1) skewX(0deg);
}
1.5% {
  -webkit-transform: scaleY(3) skewX(-60deg);
          transform: scaleY(3) skewX(-60deg);
}
2% {
  -webkit-transform: scaleY(1) skewX(0deg);
          transform: scaleY(1) skewX(0deg);
}
51% {
  -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
          transform: scaleX(1) scaleY(1) skewX(0deg);
}
52% {
  -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
          transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
}
53% {
  -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
          transform: scaleX(1) scaleY(1) skewX(0deg);
}
}
@keyframes tr-bag {
0% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
2% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
4% {
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}
6% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
8% {
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
}
10% {
  -webkit-transform: translate(4px, 2px);
          transform: translate(4px, 2px);
}
12% {
  -webkit-transform: translate(3px, 1px);
          transform: translate(3px, 1px);
}
14.000000000000002% {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}
16% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
18% {
  -webkit-transform: translate(5px, 3px);
          transform: translate(5px, 3px);
}
20% {
  -webkit-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
}
22% {
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}
24% {
  -webkit-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
}
26% {
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}
28.000000000000004% {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}
30% {
  -webkit-transform: translate(1px, 5px);
          transform: translate(1px, 5px);
}
32% {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}
34% {
  -webkit-transform: translate(1px, 5px);
          transform: translate(1px, 5px);
}
36% {
  -webkit-transform: translate(1px, 5px);
          transform: translate(1px, 5px);
}
38% {
  -webkit-transform: translate(3px, 5px);
          transform: translate(3px, 5px);
}
40% {
  -webkit-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
}
42% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
44% {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}
46.00000000000001% {
  -webkit-transform: translate(3px, 2px);
          transform: translate(3px, 2px);
}
48% {
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}
50% {
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}
52% {
  -webkit-transform: translate(2px, 1px);
          transform: translate(2px, 1px);
}
54% {
  -webkit-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
}
56.00000000000001% {
  -webkit-transform: translate(5px, 2px);
          transform: translate(5px, 2px);
}
58% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
60% {
  -webkit-transform: translate(3px, 1px);
          transform: translate(3px, 1px);
}
62% {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}
64% {
  -webkit-transform: translate(4px, 2px);
          transform: translate(4px, 2px);
}
66% {
  -webkit-transform: translate(3px, 2px);
          transform: translate(3px, 2px);
}
68% {
  -webkit-transform: translate(3px, 2px);
          transform: translate(3px, 2px);
}
70.00000000000001% {
  -webkit-transform: translate(4px, 1px);
          transform: translate(4px, 1px);
}
72% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
74% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
76% {
  -webkit-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
}
78% {
  -webkit-transform: translate(3px, 2px);
          transform: translate(3px, 2px);
}
80% {
  -webkit-transform: translate(2px, 5px);
          transform: translate(2px, 5px);
}
82.00000000000001% {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}
84% {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
86% {
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
}
88% {
  -webkit-transform: translate(3px, 1px);
          transform: translate(3px, 1px);
}
90% {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}
92.00000000000001% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
94% {
  -webkit-transform: translate(5px, 2px);
          transform: translate(5px, 2px);
}
96% {
  -webkit-transform: translate(1px, 4px);
          transform: translate(1px, 4px);
}
98% {
  -webkit-transform: translate(3px, 5px);
          transform: translate(3px, 5px);
}
100% {
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
}
1% {
  -webkit-transform: scaleY(1) skewX(0deg);
          transform: scaleY(1) skewX(0deg);
}
1.5% {
  -webkit-transform: scaleY(3) skewX(-60deg);
          transform: scaleY(3) skewX(-60deg);
}
2% {
  -webkit-transform: scaleY(1) skewX(0deg);
          transform: scaleY(1) skewX(0deg);
}
51% {
  -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
          transform: scaleX(1) scaleY(1) skewX(0deg);
}
52% {
  -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
          transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
}
53% {
  -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
          transform: scaleX(1) scaleY(1) skewX(0deg);
}
}
@-webkit-keyframes bg-move {
0% {
  background-position: 0 0;
}
100% {
  background-position: 0 -32px;
}
}
@keyframes bg-move {
0% {
  background-position: 0 0;
}
100% {
  background-position: 0 -32px;
}
}


/*****404*****/

div.errormsg {
  margin-top: 80px;
  text-align: center;
}

span.blueb {
  font-size: 100px;
  -webkit-animation: errorglitch1 0.5s linear infinite;
     -moz-animation: errorglitch1 0.5s linear infinite;
       -o-animation: errorglitch1 0.5s linear infinite;
         -animation: errorglitch1 0.5s linear infinite;
}
@-webkit-keyframes errorglitch1 {
  0%   { text-shadow: 0px 0px 5px var(--color3); }
  50%  { text-shadow: 0px 0px 5px var(--color4); }
  100% { text-shadow: 0px 0px 5px var(--color3); }
}
@-o-keyframes errorglitch1 {
  0%   { text-shadow: 0px 0px 5px var(--color3); }
  50%  { text-shadow: 0px 0px 5px var(--color4); }
  100% { text-shadow: 0px 0px 5px var(--color3); }
}
@-moz-keyframes errorglitch1 {
  0%   { text-shadow: 0px 0px 5px var(--color3); }
  50%  { text-shadow: 0px 0px 5px var(--color4); }
  100% { text-shadow: 0px 0px 5px var(--color3); }
}
@keyframes errorglitch1 {
  0%   { text-shadow: 0px 0px 5px var(--color3); }
  50%  { text-shadow: 0px 0px 5px var(--color4); }
  100% { text-shadow: 0px 0px 5px var(--color3); }
}

span.redb {
  font-size: 100px;
  -webkit-animation: errorglitch2 0.5s linear infinite;
     -moz-animation: errorglitch2 0.5s linear infinite;
       -o-animation: errorglitch2 0.5s linear infinite;
         -animation: errorglitch2 0.5s linear infinite;
}
@-webkit-keyframes errorglitch2 {
  0%   { text-shadow: 0px 0px 5px var(--color4); }
  50%  { text-shadow: 0px 0px 5px var(--color3); }
  100% { text-shadow: 0px 0px 5px var(--color4); }
}
@-o-keyframes errorglitch2 {
  0%   { text-shadow: 0px 0px 5px var(--color4); }
  50%  { text-shadow: 0px 0px 5px var(--color3); }
  100% { text-shadow: 0px 0px 5px var(--color4); }
}
@-moz-keyframes errorglitch2 {
  0%   { text-shadow: 0px 0px 5px var(--color4); }
  50%  { text-shadow: 0px 0px 5px var(--color3); }
  100% { text-shadow: 0px 0px 5px var(--color4); }
}
@keyframes errorglitch2 {
  0%   { text-shadow: 0px 0px 5px var(--color4); }
  50%  { text-shadow: 0px 0px 5px var(--color3); }
  100% { text-shadow: 0px 0px 5px var(--color4); }
}

/*****CALENDAR*****/
div.calendarside {
  position: absolute;
  
}
div.flex-contatiner {
  margin-top: 360px;
  margin-left: 1170px;
}
div.calendar-container {
  position: relative;
  width: 300px;
  height: 300px;
  box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2), 0 40px 77px 0 rgba(0,0,0,0.22);
  overflow: visible;
}
div.calendarbg-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
div.calendarbg {
  width: 100%;
  height: 100%;
  background-image: url("./media/calendarbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-filter: url("#duotone");
          filter: url("#duotone");
}
div.calendar {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-left: 10%;
  padding-top: 15%;
  border: 10px solid #fff;
}
div.calendar h2.month-title {
  position: absolute;
  top: -0.4em;
  left: -0.3em;
  margin: 0;
  font-size: 200px;
  line-height: 1;
  letter-spacing: 0;
  color: red;
  opacity: 0.75;  
  font-family: 'Josefin Sans', sans-serif;
}
div.calendar table.calendar-table {
  position: absolute;
  width: 100%;
  height: 85%;
  border-collapse: collapse;
  color: #fff;
}
div.calendar table.calendar-table th,
div.calendar table.calendar-table td {
  text-align: center;
  font-size: 14px;
}
div.calendar table.calendar-table th {
  font-family: 'Londrina Shadow', cursive;
}
div.calendar table.calendar-table td {
  font-family: 'Oswald', sans-serif;
}
div.calendar table.calendar-table td {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
div.calendar table.calendar-table td:not(.is-today) {
  opacity: 0.5;
}
div.calendar table.calendar-table td:hover {
  opacity: 1;
}
div.calendar .is-today {
  opacity: 1;
  background-color: #fff;
  color: #503282;
}

/*****GOOGLE APPS*****/
div.googleapps {
  margin-left: 1470px;
  margin-top: 18px;
  position: absolute;
  z-index: 99999999999;
}
li.googleapps-dropdown {
  color: #fff;
  background: #474747;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  border-radius: 18px;
}
li.googleapps-dropdown:hover {
  background: #282052;
  cursor: pointer;
}
li.googleapps-dropdowngrid:hover {
  cursor: default;
}
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-1,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-2,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-3,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-4,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-5,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-6,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-7,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-8 {
  display: block;
  background: #242627;
  width: 350px;
  cursor: default;
}
li.googleapps-dropdown ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-1,
li.googleapps-dropdown ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-2,
li.googleapps-dropdown ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-3,
li.googleapps-dropdown ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-4,
li.googleapps-dropdown ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-5,
li.googleapps-dropdown ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-6,
li.googleapps-dropdown ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-7,
li.googleapps-dropdown ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-8 {
  display: none;
  color: #fff;
  background-color: #242627;
  padding: 10px 20px;
  font-size: 16px;
  opacity: 0;
  width: 350px;
  cursor: default;
}
ul.googleapps-dropdowngrid--animated li.googleapps-dropdowngrid-row-1,
ul.googleapps-dropdowngrid--animated li.googleapps-dropdowngrid-row-2,
ul.googleapps-dropdowngrid--animated li.googleapps-dropdowngrid-row-3,
ul.googleapps-dropdowngrid--animated li.googleapps-dropdowngrid-row-4,
ul.googleapps-dropdowngrid--animated li.googleapps-dropdowngrid-row-5,
ul.googleapps-dropdowngrid--animated li.googleapps-dropdowngrid-row-6,
ul.googleapps-dropdowngrid--animated li.googleapps-dropdowngrid-row-7,
ul.googleapps-dropdowngrid--animated li.googleapps-dropdowngrid-row-8 {
  display: block;
  opacity: 1;
  width: 350px;
  cursor: default;
}
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-1 li.googleapps-dropdowngrid-row-item-1:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-1 li.googleapps-dropdowngrid-row-item-2:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-1 li.googleapps-dropdowngrid-row-item-3:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-1 li.googleapps-dropdowngrid-row-item-4:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-2 li.googleapps-dropdowngrid-row-item-1:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-2 li.googleapps-dropdowngrid-row-item-2:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-2 li.googleapps-dropdowngrid-row-item-3:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-2 li.googleapps-dropdowngrid-row-item-4:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-3 li.googleapps-dropdowngrid-row-item-1:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-3 li.googleapps-dropdowngrid-row-item-2:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-3 li.googleapps-dropdowngrid-row-item-3:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-3 li.googleapps-dropdowngrid-row-item-4:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-4 li.googleapps-dropdowngrid-row-item-1:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-4 li.googleapps-dropdowngrid-row-item-2:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-4 li.googleapps-dropdowngrid-row-item-3:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-4 li.googleapps-dropdowngrid-row-item-4:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-5 li.googleapps-dropdowngrid-row-item-1:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-5 li.googleapps-dropdowngrid-row-item-2:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-5 li.googleapps-dropdowngrid-row-item-3:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-5 li.googleapps-dropdowngrid-row-item-4:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-6 li.googleapps-dropdowngrid-row-item-1:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-6 li.googleapps-dropdowngrid-row-item-2:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-6 li.googleapps-dropdowngrid-row-item-3:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-6 li.googleapps-dropdowngrid-row-item-4:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-7 li.googleapps-dropdowngrid-row-item-1:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-7 li.googleapps-dropdowngrid-row-item-2:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-7 li.googleapps-dropdowngrid-row-item-3:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-7 li.googleapps-dropdowngrid-row-item-4:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-8 li.googleapps-dropdowngrid-row-item-1:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-8 li.googleapps-dropdowngrid-row-item-2:hover,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-8 li.googleapps-dropdowngrid-row-item-3:hover {
  background-color: #282052;
  border-radius: 10px;
}
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-1 li.googleapps-dropdowngrid-row-item-1,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-1 li.googleapps-dropdowngrid-row-item-2,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-1 li.googleapps-dropdowngrid-row-item-3,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-1 li.googleapps-dropdowngrid-row-item-4,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-2 li.googleapps-dropdowngrid-row-item-1,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-2 li.googleapps-dropdowngrid-row-item-2,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-2 li.googleapps-dropdowngrid-row-item-3,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-2 li.googleapps-dropdowngrid-row-item-4,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-3 li.googleapps-dropdowngrid-row-item-1,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-3 li.googleapps-dropdowngrid-row-item-2,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-3 li.googleapps-dropdowngrid-row-item-3,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-3 li.googleapps-dropdowngrid-row-item-4,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-4 li.googleapps-dropdowngrid-row-item-1,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-4 li.googleapps-dropdowngrid-row-item-2,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-4 li.googleapps-dropdowngrid-row-item-3,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-4 li.googleapps-dropdowngrid-row-item-4,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-5 li.googleapps-dropdowngrid-row-item-1,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-5 li.googleapps-dropdowngrid-row-item-2,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-5 li.googleapps-dropdowngrid-row-item-3,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-5 li.googleapps-dropdowngrid-row-item-4,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-6 li.googleapps-dropdowngrid-row-item-1,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-6 li.googleapps-dropdowngrid-row-item-2,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-6 li.googleapps-dropdowngrid-row-item-3,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-6 li.googleapps-dropdowngrid-row-item-4,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-7 li.googleapps-dropdowngrid-row-item-1,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-7 li.googleapps-dropdowngrid-row-item-2,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-7 li.googleapps-dropdowngrid-row-item-3,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-7 li.googleapps-dropdowngrid-row-item-4,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-8 li.googleapps-dropdowngrid-row-item-1,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-8 li.googleapps-dropdowngrid-row-item-2,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-8 li.googleapps-dropdowngrid-row-item-3,
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-8 li.googleapps-dropdowngrid-row-item-4 {
  width: 70px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.googleapps-dropdowngrid {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}
nav.googleapps-nav {
  width: 36px;
}
ul.googleapps-dropdowngrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -290px;
}
ul.googleapps-dropdowngrid-row-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li.googleapps-dropdown:hover ul.googleapps-dropdowngrid--animated {
  display: block;
}
ul.googleapps-dropdowngrid--animated {
  display: none;
}
ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-1 {
  transform-origin: top center;
  animation: rotateZ 300ms 60ms ease-in-out forwards;
}
ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-2 {
  transform-origin: top center;
  animation: rotateZ 300ms 120ms ease-in-out forwards;
}
ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-3 {
  transform-origin: top center;
  animation: rotateZ 300ms 180ms ease-in-out forwards;
}
ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-4 {
  transform-origin: top center;
  animation: rotateZ 300ms 240ms ease-in-out forwards;
}
ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-5 {
  transform-origin: top center;
  animation: rotateZ 300ms 300ms ease-in-out forwards;
}
ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-6 {
  transform-origin: top center;
  animation: rotateZ 300ms 360ms ease-in-out forwards;
}
ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-7 {
  transform-origin: top center;
  animation: rotateZ 300ms 420ms ease-in-out forwards;
}
ul.googleapps-dropdowngrid li.googleapps-dropdowngrid-row-8 {
  transform-origin: top center;
  animation: rotateZ 300ms 480ms ease-in-out forwards;
}
@-moz-keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }
  80% {
    transform: translateZ(10px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@-webkit-keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }
  80% {
    transform: translateZ(10px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@-o-keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }
  80% {
    transform: translateZ(10px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }
  80% {
    transform: translateZ(10px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
ul.googleapps-menu, ul.googleapps-dropdowngrid, ul.googleapps-dropdowngrid-row-items {
  list-style-type:none;
}
img.google-list-items {
  width: 36px;
}
img.google-list-item {
  width: 30px;
  height: 30px;
}
a.google-list-item {
  text-decoration: none;
  color: white;
  font-size: 10px;
}
span.google-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*****WEATHER MONITOR*****/
div.weathermonitor {
  position: absolute;
  width: 314.5px;
  margin-left: 40px;
  margin-top: -345px;
  background-image: url("./media/weatherbg.jpg");
}

/*****SHORTCUTS*****/
div.shortcuts-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  position: absolute;
  z-index: 9999999;
}
div.shortcuts-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  position: absolute;
  z-index: 999999;
}
ul.shortcuts-outer-1 {
  list-style-type:none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 25px 15px;
  border-radius: 10px;
  border: 2px solid rgb(163, 154, 154);
  width: 780px;
  transform: translateX(48.5%);
}

ul.shortcuts-outer-2 {
  list-style-type:none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 25px 15px;
  border-radius: 10px;
  border: 2px solid rgb(163, 154, 154);
  width: 530px;
  margin-top: 450px;
  margin-left: 505px;
}
li.shortcuts-inner {
  padding: 15px;
  border-radius: 6px;
  border: 2px solid rgb(163, 154, 154);
  background-image: url("./media/shortcutbg.jpg");
  transition: 0.3s;
}
li.shortcuts-inner:hover {
  border: 2px solid black;
  background-image: url("./media/shortcutbg-neg.jpg");
}
span.shortcut-inner-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a.shortcut-inner-item {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
a.shortcut-inner-item:hover {
  color: #00f;
}
img.shortcut-inner-item {
  width: 70px;
}